@page
@model IndexModel

<section class="app-product-filters">
    <div class="container">
        <form method="get">
            <label class="app-product-label" data-title="type">
                <select asp-for="@Model.ProductIndex.TypesFilterApplied" asp-items="@Model.ProductIndex.Types" class="app-product-filter"></select>
            </label>
            <button type="submit" class="app-product-send">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-funnel" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"></path>
                </svg>
            </button>
        </form>
    </div>
</section>
    <div class="container">
        @if (Model.ProductIndex != null && Model.ProductIndex.Products.Any())
        {
            <div class="app-product-items row">
                @foreach (var product in Model.ProductIndex.Products)
                {
                    <div class="app-product-item col-md-4">
                        <partial name="_ProductPartial" for="@product" />
                    </div>
                }
            </div>
        }
        else
        {
            <p>No Products!</p>
        }
    </div>
